#hotelCalendar h2 {
    text-transform: capitalize;
}

#hotelCalendar {
    cursor: default;
}

.bg-meliar {
    background: #353535;
}

.navbar-meliar .navbar-brand, .navbar-meliar .nav-link {
    color: rgba(204, 211, 63, 0.8);
}

.navbar-meliar:hover,
.navbar-meliar .nav-link:hover,
.navbar-meliar .nav-link.active {
    color: #dde642;
}